section {
  Background-color: white
}
.style-card-about {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: justify;
}
.card-img {
  margin-top: 10%;
}
.style-card-about-mob {
  width: 300px;
  padding-top: 5%;
  padding-bottom: 5%;
}
.style-img-card {
  width: 100%;
  padding: 5%;
}
.style-text {
  text-align: justify;
}
.style-card-about-mob {
  display: none;
}
@media only screen and (max-width: 768px) and (min-width: 576px) {
  .style-card-about-mob {
    display: block;
    width: 70%;
  }
  .style-card-about {
    display: none;
  }
}
@media only screen and (max-width: 576px){
  .style-card-about-mob {
    display: block;
  }
  .style-card-about {
    display: none;
  }
}
