<section>
  <div class="card container style-card">
      <div class="card-body">
        <h3 class="style-title">App Tests Module</h3>
        <img class="style-logo" src="../../../../assets/images/logo.JPG" alt="Logomarca">
      </div>
      <div class="card style-card-weather">
        <div class="card-body">
          <h4 class="card-title">Precisão do Tempo</h4>
          <p class="card-text"><i class="fas fa-city"></i> {{city}}</p>
          <p class="card-text"><i class="fas fa-calendar-week"></i> {{date}}</p>
          <p class="card-text"><i class="fas fa-clock"></i> {{time}}</p>

          <!-- Alerts weather -->
          <p id="cloud" class="style-card-cloud"><i class="fas fa-cloud fa-8x"></i></p>
          <p id="cloudDay" class="style-card-cloudDay"><i class="fas fa-cloud fa-8x"></i></p>
          <p id="sun" class="style-card-sun"><i class="fas fa-sun fa-8x"></i></p>
          <p id="rain" class="style-card-rain"><i class="fas fa-cloud-showers-heavy fa-8x"></i></p>
          <p id="clear-night" class="style-card-clear-night"><i class="fas fa-moon fa-8x"></i></p>
          <p id="cloudly-night" class="style-card-cloudly-night"><i class="fas fa-cloud-moon fa-8x"></i></p>
          <p id="storm" class="style-card-storm"><i class="fas fa-poo-storm fa-8x"></i></p>
          <p id="fog" class="style-card-fog"><i class="fas fa-smog fa-8x"></i></p>
          <p id="hail" class="style-card-hail"><i class="fas fa-cloud-sun fa-8x"></i></p>
          <p id="snow" class="style-card-snow"><i class="fas fa-snowflake fa-8x"></i></p>
          <p id="error" class="style-card-error"><i class="fas fa-frown fa-8x"></i></p>
          <!-- Alerts weather -->

          <p class="card-text">{{description}}</p>
          <p class="card-text"><i class="fas fa-wind fa-2x"></i> {{windSpeedy}}</p>
        </div>
      </div>
  </div>
</section>


