section {
  background-color: white;

}
.style-title {
  text-align: center;
  margin-top: 5%;
}
.style-logo {
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 0%;
  width: 40%;
}
.style-card {
  float: center;
  position: relative;
  width: 300px;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  border: 0px;
}
.style-card-cloud {
  position: absolute;
  text-align: center;
  color: Dodgerblue;
}
.style-card-sun {
  position: absolute;
  text-align: center;
  color: Dodgerblue;
}
.style-card-rain {
  position: absolute;
  text-align: center;
  color: Dodgerblue;
}
.style-card-storm {
  position: absolute;
  text-align: center;
  color: Dodgerblue;
}
.style-card-fog {
  position: absolute;
  text-align: center;
  color: Dodgerblue;
}
.style-card-hail {
  position: absolute;
  text-align: center;
  color: Dodgerblue;
}
.style-card-clear-night {
  position: absolute;
  text-align: center;
  color: Dodgerblue;
}
.style-card-cloudly-night {
  position: absolute;
  text-align: center;
  color: Dodgerblue;
}
.style-card-snow {
  position: absolute;
  text-align: center;
  color: Dodgerblue;
}
.style-card-error {
  position: absolute;
  text-align: center;
}
.style-card-cloudDay {
  position: absolute;
  text-align: center;
  color: Dodgerblue;
}
.style-card-weather {
  margin-top: 5%;
  margin-bottom: 10%;
  color: Dodgerblue;
}
