section {
  background-color: white;
}
.style-avatar {
  width: 5%;
  background-color: white;
}
.style-accordion {
  padding-top: 5%;
  padding-bottom: 2%;
}
.style-text-btn {
  color: white;
}
.style-group-btn {
  margin-top: 3%;
  margin-right: 1%;
}
.style-btn-plus {
  margin-bottom: 2%;
}