<section class="">
  <div class="row container style-footer">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a class="text-link" href="https://github.com/ivamgf/App-Test-Module-Repository/blob/master/README.md" target="_blank">Documentation</a></li>
      <li class="list-group-item"><a class="text-link" href="https://github.com/ivamgf/App-Test-Module-Repository/blob/master/LICENSE" target="_blank">License</a></li>      
    </ul>
    
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><i>Design by Ivam Galvão Filho</i></li>
        <li class="list-group-item"><i>Powered By Angular 8 and Nodejs</i></li>
      </ul>
  </div>
    
</section>