section {
  background-color: white;
  height: 400px;
}
.style-title {
  text-align: center;
  margin-top: 5%;
}
.style-card {
  float: center;
  position: relative;
  width: 300px;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  border: 0px;
}